html, body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, p, fieldset, form, label, input, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, article, aside, audio, canvas, figure, footer, header, mark, menu, nav, section, time, video { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, img { display: block; }
ul, ol { list-style: none; }
img { border: 0 none; vertical-align: top; }
/*blockquote, q { quotes: none; }*/
/*blockquote:before, blockquote:after, q:before, q:after { content: none; }*/
table { border-collapse: collapse; border-spacing: 0; }
/*strong, em, i { font-style: normal;}*/
ins { text-decoration: underline; }
del { text-decoration: line-through; }
mark { background: none; }
input::-ms-clear { display: none !important; }
/*body { font: 12px/1.5 \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, "Hiragino Sans GB", STHeiti, "WenQuanYi Micro Hei", "Droid Sans Fallback", SimSun, sans-serif;}*/
a { text-decoration: none; /*color: #666;*/ }
a:hover { text-decoration: none; }
body{ background: #ffffff; /*display: -webkit-flex;-webkit-flex-flow: column;-webkit-justify-content: space-between;*/}
html,body{height: 100%;}
html{font-size: 26.67vw;}

::-webkit-scrollbar/*整体部分*/
{
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track/*滑动轨道*/
{
  -webkit-box-shadow: inset 0 0  0px rgba(0,0,0,0.2);
  border-radius: 0px;
  background: #12fafd /*rgba(0,0,0,0.1)*/;
}

::-webkit-scrollbar-thumb/*滑块*/
{
  border-radius:  0px;
  -webkit-box-shadow: inset 0 0  0px rgba(0,0,0,0.2);
  background: #12a7fd /*rgba(0,0,0,0.2)*/;
}

::-webkit-scrollbar-thumb:hover/*滑块效果*/
{
  border-radius:  0px;
  -webkit-box-shadow: inset 0 0  0px rgba(0,0,0,0.2);
  background: #39fd70 /*rgba(0,0,0,0.4)*/;
}

/*.icon {*/
/*width: 1em; height: 1em;*/
/*vertical-align: -0.15em;*/
/*fill: currentColor;*/
/*overflow: hidden;*/
/*font-size: 0.2rem;*/
/*}*/

